.article-list {
  color: #313437;
  background-color: #fff;
}

.article-list p {
  color: #7d8285;
}

.article-list h2 {
  font-weight: bold;
  margin-bottom: 40px;
  padding-top: 40px;
  color: inherit;
}

@media (max-width:767px) {
  .article-list h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
  }
}

.article-list .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto;
}

.article-list .intro p {
  margin-bottom: 0;
}

.article-list .articles {
  padding-bottom: 40px;
}

.article-list .item {
  padding-top: 50px;
  min-height: 425px;
  text-align: center;
}

.article-list .item .name {
  font-weight: bold;
  font-size: 16px;
  margin-top: 20px;
  color: inherit;
}

.article-list .item .description {
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: 0;
}

.article-list .item .action {
  font-size: 24px;
  width: 24px;
  margin: 22px auto 0;
  line-height: 1;
  display: block;
  color: #4f86c3;
  opacity: 0.85;
  transition: opacity 0.2s;
  text-decoration: none;
}

.article-list .item .action:hover {
  opacity: 1;
}

h3.name {
  position: absolute;
  top: 22%;
  bottom: 30%;
  left: 10%;
  right: 10%;
}

.item {
  position: relative;
  display: inline-block;
}

a:hover {
  text-decoration: none;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.form-inline {
  display: none;
}

.nav-link.text-success.JLVDB:hover {
  background-color: rgb(23,162,184) !important;
  color: rgb(256,256,256) !important;
}

.indexbox {
  overflow-y: scroll;
}

.dicindex-close {
  height: 100px;
}

@media (max-width: 575.98px) {
  .row.articles.hidden-xs {
    display: none;
  }
}

@media (max-width: 990px) {
  .projects-horizontal {
    display: none;
  }
}

@media (min-width: 767.98px) {
  .card {
    background: url("../../assets/img/大头3.png") left 20px bottom / 200px no-repeat fixed;
  }
}

a {
  scroll-margin-top: 85px;
}

